const { MongoClient, ServerApiVersion, ObjectId  } = require("mongodb");
const { {%for table in Service.getTables()%}{{table.getName()}}{% if not loop.last %}, {% endif %}{%endfor%} } = require("./models.js")
const cors = require('cors');
require('dotenv').config();
const express = require('express');

const app = express();

// Middleware
app.use(cors());
app.use(express.json());
// TODO set up secrets for connection string

const uri = process.env.ATLAS_URI

const client = new MongoClient(uri, {
    serverApi: {
        version: ServerApiVersion.v1,
        strict: true,
        deprecationErrors: true,
    }
});
const database = process.env.DATABASE;
if (!database) {
    console.error('DATABASE environment variable is not set');
    process.exit(1);
}

// get to mongo connection
const myDB = client.db(database);
{%for table in Service.getTables()%}
const {{table.getCamelPluralName()}} = myDB.collection("{{table.getCamelPluralName()}}");{%endfor%}

{%for table in Service.getTables()%}

async function post{{table.getPluralName()}}(body){
    const result = await {{table.getCamelPluralName()}}.insertOne(body);
    console.log(
        `new item in {{table.getCamelPluralName()}} created with the _id: ${result.insertedId}`,
    );
    return result.insertedId
}

app.post('/{{table.getCamelPluralName()}}', async (req, res) => {
    const newItem = new {{table.getName()}}(req.body)
  
    if (!newItem.hasRequiredPostFields()) {
        return res.status(400).json({ error: 'Required fields are missing' });
    }
    
    try {
        const item = await post{{table.getPluralName()}}(newItem.getPostDict());
        res.status(201).json({ message: 'item added successfully', item });
        return item
    } catch (error) {
        res.status(500).json({ error: 'Failed to add item' });
    }
});


async function getAll{{table.getPluralName()}}(query={}){
    const result = await {{table.getCamelPluralName()}}.find(query).toArray();
    console.log("all items: ", result)
    return result   
}


app.get('/{{table.getCamelPluralName()}}', async (req, res) => {
    const query = req.query;
    if(query._id){
        query._id = new ObjectId(query._id)
    }

    try {
        const foundItems = await getAll{{table.getPluralName()}}(query);
        res.status(201).json({ message: 'items grabbed', foundItems });
        return foundItems;
    } catch (error) {
        res.status(500).json({ error: 'Failed to get items' });
    }
});


async function update{{table.getPluralName()}}(filter, updateDoc){
    const result = await {{table.getCamelPluralName()}}.updateOne(filter, updateDoc);
    console.log(`${result.matchedCount} document(s) matched the filter, updated ${result.modifiedCount} document(s)`);
    return result
}


app.put('/{{table.getCamelPluralName()}}', async (req, res) => {
    const updateDoc  = {$set: req.body};
    const query = req.query

    if(query._id){
        query._id = new ObjectId(query._id)
    }

    try {
        const result = await update{{table.getPluralName()}}(query, updateDoc);
        res.status(200).json({ matchedCount: result.matchedCount, modifiedCount: result.modifiedCount });
    } catch (error) {
        console.log("Error: " + error)
        res.status(500).json({ error: 'Failed to update menu item' });
    }
});

{%if not table.excludeDelete()%}
async function delete{{table.getPluralName()}}(filter) {
    const result = await {{table.getPluralName()}}.deleteOne(filter);
    console.log(`${result.deletedCount} document(s) deleted`);
    return result;
}

app.delete('/{{table.getCamelPluralName()}}', async (req, res) => {
    const query = req.query;

    if (query._id) {
        query._id = new ObjectId(query._id);
    }

    try {
        const result = await delete{{table.getPluralName()}}(query);
        res.status(200).json({ deletedCount: result.deletedCount });
    } catch (error) {
        console.log("Error: " + error);
        res.status(500).json({ error: 'Failed to delete item' });
    }
});
{%endif%}
{%endfor%}

app.listen(3000, () => {
    console.log('Server is running on port 3000');
});