const { MongoClient, ServerApiVersion, ObjectId  } = require("mongodb");
const cors = require('cors');
require('dotenv').config();
const express = require('express');

const app = express();

// Middleware
app.use(cors());
app.use(express.json());
// TODO set up secrets for connection string

const uri = process.env.ATLAS_URI

const client = new MongoClient(uri, {
    serverApi: {
        version: ServerApiVersion.v1,
        strict: true,
        deprecationErrors: true,
    }
});
const database = process.env.DATABASE;
if (!database) {
    console.error('DATABASE environment variable is not set');
    process.exit(1);
}

// get to mongo connection
const myDB = client.db(database);
{%for table in Service.getTables()%}
const {{table.getName()}} = myDB.collection("{{table.getName()}}");{%endfor%}

{%for table in Service.getTables()%}

async function post{{table.getName()}}(body){
    const result = await {{table.getName()}}.insertOne(body);
    console.log(
        `new item in {{table.getName()}} created with the _id: ${result.insertedId}`,
    );
    return result.insertedId
}

app.post('/{{table.getName()}}', async (req, res) => {
    let body = req.body
  
    if ({%for field in table.getRequiredFields()%}!body.{{field.name}}{% if not loop.last %} || {% endif %} {%endfor%}) {
        return res.status(400).json({ error: 'Required fields are missing' });
    }
    
    try {
        const item = await post{{table.getName()}}(body);
        res.status(201).json({ message: 'item added successfully', item });
        return item
    } catch (error) {
        res.status(500).json({ error: 'Failed to add item' });
    }
});


async function getAll{{table.getName()}}(query={}){
    const result = await {{table.getName()}}.find(query).toArray();
    console.log("all items: ", result)
    return result   
}


app.get('/{{table.getName()}}', async (req, res) => {
    const query = req.query;
    if(query._id){
        query._id = new ObjectId(query._id)
    }

    try {
        const foundItems = await getAll{{table.getName()}}(query);
        res.status(201).json({ message: 'items grabbed', foundItems });
        return foundItems;
    } catch (error) {
        res.status(500).json({ error: 'Failed to get items' });
    }
});


async function update{{table.getName()}}(filter, updateDoc){
    const result = await {{table.getName()}}.updateOne(filter, updateDoc);
    console.log(`${result.matchedCount} document(s) matched the filter, updated ${result.modifiedCount} document(s)`);
    return result
}


app.put('/{{table.getName()}}', async (req, res) => {
    const updateDoc  = {$set: req.body};
    const query = req.query

    if(query._id){
        query._id = new ObjectId(query._id)
    }

    try {
        const result = await update{{table.getName()}}(query, updateDoc);
        res.status(200).json({ matchedCount: result.matchedCount, modifiedCount: result.modifiedCount });
    } catch (error) {
        console.log("Error: " + error)
        res.status(500).json({ error: 'Failed to update menu item' });
    }
});
{%endfor%}

app.listen(3000, () => {
    console.log('Server is running on port 3000');
});